/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Browser default styles override */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}

 /* Game styles */ 
 #game-filed {
    background-color: grey;
    border: 5px solid #444444;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: flex-start;
}

#game-filed div {
    width: 100px;
    height: 100px;
    margin: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bbbbbb;
    border: 5px solid #444444;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}